<% let username = user.username; %>
<%- include("./partials/header", {title: username + "'s blog"}) %>
    <%- include("./partials/nav", {active: ""}) %>
    <h1><%= user.username %>'s Blog</h1>

    <% if(typeof error !== "undefined") { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>

    <div class="posts">
        <% for(let i = user.posts.length-1; i >= 0; i--) { %> 
            <div class="card">
                <div class="card-body">
                    <h3><%= user.posts[i].title %></h3>
                    <p><%= user.posts[i].body %></p>
                    <p class="text-muted"><%= user.posts[i].date %></p>
                </div>
            </div>
        <% } %>
    </div>

<%- include("./partials/footer") %>