<% let username = user.username; %>
<%- include("./partials/header", {title: username + "'s blog"}) %>
    <%- include("./partials/nav", {active: ""}) %>
    <h1 style="text-align: center;"><%= user.username %>'s Blog</h1>

    <% if(typeof error !== "undefined") { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>

    <div class="posts">
        <% for(let i = user.posts.length-1; i >= 0; i--) { %> 
            <div class="card col-sm-6 mb-3">
                <div class="card-body">
                    <a href="/post/<%= user.posts[i]._id %>"><h3><%= user.posts[i].title %></h3></a>
                    <% if(user.posts[i].body.length <= 250) { %><p><%= user.posts[i].body %></p><% } else { %>
                        <% let shortBody = ""; %>
                        <% for(let j = 0; j <= 250; j++) { %>
                            <% shortBody += user.posts[i].body[j] %>
                        <% } %>
                        <% shortBody += "..."; %>
                        <p><%= shortBody %></p>
                    <% } %>
                    <p class="text-muted"><%= user.posts[i].date %></p>
                    <% if(typeof user.posts[i].editDate !== "undefined" && user.posts[i].editDate.length !== 0) { %>
                        <p class="text-muted">Edited on: <%= user.posts[i].editDate %></p>    
                    <% } %>
                    <a class="btn btn-md btn-primary" href="/addcomment/<%= user.posts[i]._id %>">Add a comment!</a>
                    <button class="btn btn-sm btn-info mt-1 d-block" id="show-comments">Show comments</button>
                    <div id="comments" class="hidden">
                        <% for(let j = user.posts[i].comments.length-1; j >= 0; j--) { %>
                            <div class="card mt-3">
                                <div class="card-body comment-card-body">
                                    <span class="text-muted"><strong style="color: rgb(51, 51, 51)"><%= user.posts[i].comments[j].author.username %></strong> says:</span>
                                    <span style="display: block;"><%= user.posts[i].comments[j].body %></span>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <script src="/blogComments.js"></script>
<%- include("./partials/footer") %>