<%- include("./partials/header", {title: "Friends"}) %>
    <%- include("./partials/nav", {active: ""}) %>

    <% friends.forEach(friend => { %>
        <div class="row" style="margin: auto;">
            <div class="friend card col-12 col-sm-8 col-md-6">
                <img src="<%= friend.imgSrc %>" alt="user's pfp" class="card-img-top">
                <div class="card-body">
                    <h1><%= friend.username %></h1>
                    <p><% if(friend.bio.length === 0) { %>Friend has no bio<% } else { %><%= friend.bio %><% } %></p>
                </div>
            </div>
        </div>
    <% }) %>

<%- include("./partials/footer") %>