<%- include("./partials/header", {title: "Blog"}) %>
    <%- include("./partials/nav", {active: "blog"}) %>
    <h1>Welcome <%= user.username %></h1>

    <% if(typeof error !== "undefined") { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>

    <div class="posts">
        <% user.posts.forEach(post => { %>
            <div class="card">
                <div class="card-body col-sm-6">
                    <h3><%= post.title %></h3>
                    <p><%= post.body %></p>
                    <p class="text-muted"><%= post.date %></p>
                </div>
                <form action="/deletepost/<%= post._id %>?_method=DELETE" method="POST">
                    <button href="" class="btn btn-danger btn-md col-sm-2">Delete</button>
                </form>
            </div>
        <% }); %>
    </div>

<%- include("./partials/footer") %>