<%- include("./partials/header", {title: "Blog"}) %>
    <%- include("./partials/nav", {active: "blog"}) %>
    <h1 id="myblog-h1">Welcome <%= user.username %></h1>
    <header id="myblog-header">
        <a href="/newpost" class="btn btn-lg btn-success">New Post</a>
    </header>

    <% if(error.length !== 0) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>

    <div class="posts">
        <% for(let i = user.posts.length-1; i >= 0; i--) { %>
            <div class="card col-sm-6 mb-3">
                <div class="card-body">
                    <a href="/post/<%= user.posts[i]._id %>"><h3><%= user.posts[i].title %></h3></a>
                    <% if(user.posts[i].body.length <= 250) { %><p><%= user.posts[i].body %></p><% } else { %>
                        <% let shortBody = ""; %>
                        <% for(let j = 0; j <= 250; j++) { %>
                            <% shortBody += user.posts[i].body[j] %>
                        <% } %>
                        <% shortBody += "..."; %>
                        <p><%= shortBody %></p>
                    <% } %>
                    <p class="text-muted"><%= user.posts[i].date %></p>
                    <% if(typeof user.posts[i].editDate !== "undefined" && user.posts[i].editDate.length !== 0) { %>
                        <p class="text-muted">Edited on: <%= user.posts[i].editDate %></p>    
                    <% } %>
                </div>
                <form action="/deletepost/<%= user.posts[i]._id %>?_method=DELETE" method="POST" class="mb-3 del-form">
                    <button class="btn btn-danger btn-md col-sm-2">Delete</button>
                </form>
                <a href="/editpost/<%= user.posts[i]._id %>" class="btn btn-md btn-primary col-sm-2 mb-3">Edit Post</a>
            </div>
        <% } %>
    </div>

    <div id="modal" style="display: none;">
        <div class="col-sm-6 col-md-3 col-lg-4">
            <h1>Are you sure?</h1>
            <div>
                <a id="yes-btn" class="btn btn-lg btn-success">Yes!</a>
                <a id="no-btn" class="btn btn-lg btn-danger">No</a>
            </div>
        </div>
    </div>

    <script src="/blog.js"></script>
<%- include("./partials/footer") %>