<%- include("./partials/header", {title: "Profile"}) %>
    <%- include("./partials/nav", {active: "profile"}) %>

    <header id="profile-header">
        <h1 class="display-3 profile-h1">Your Profile</h1>
        <button class="btn btn-primary btn-lg edit-btn">Edit</button>
    </header>

    <div class="row-fluid">
        <div class="card display col-sm-4">
            <div class="card-body">
                <img id="user-img" src="<%= user.imgSrc %>" alt="User image">
                <p>Username: <%= user.username %></p>
                <p>Email: <%= user.email %></p>
                <p>Bio:<br><%= user.bio %></p>
            </div>
        </div>
    
        <div class="edit hidden col-sm-6">
            <form action="/updateprofile" method="POST">
                <% if(error.length !== 0) { %>
                    <div class="alert alert-danger">
                        <%= error %>
                    </div>
                <% } %>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" type="text" id="username" name="user[username]" required>
                    <small id="username-info" class="form-text text-muted">Must be unique!</small>
                </div>
    
                <div class="form-group">
                    <label for="bio">Bio:</label>
                    <textarea name="user[bio]" id="bio" cols="30" rows="5" required></textarea>
                </div>

                <div class="form-group">
                    <label for="private">Private:</label>
                    <input type="checkbox" name="user[private]" id="private">
                </div>
                <input type="hidden" name="user[email]" value="<%= user.email %>">
                <button class="btn btn-success">Update</button>
            </form>
        </div>
    </div>

    <script>
    let private = JSON.parse("<%= user.private %>");
    let bio = "<%= user.bio %>";
    let username = "<%= user.username %>";
    let tab = "<%= tab %>";
    </script>
    <script src="/profile.js"></script>
<%- include("./partials/footer") %>